{% extends 'base.html' %}

{% block content %}
<h2>Add New Phone</h2>
<form method="POST">
    <div class="form-group">
        <label for="nama">nama hp</label>
        <input type="text" class="form-control" id="nama" name="nama" required>
    </div>
    <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" name="brand" required>
    </div>
    <div class="form-group">
        <label for="harga">harga</label>
        <input type="number" step="0.01" class="form-control" id="dharga" name="harga" required>
    </div>
    <button type="submit" class="btn btn-primary">tambahkan hp</button>
    <a href="{{ url_for('manage_phones') }}" class="btn btn-secondary">batal</a>
</form>
{% endblock %}